/*    HTTP Host:  b.static.ak.fbcdn.net                                        */
/*    Generated:  August 25th 2009 12:58:56 PM PDT                             */
/*      Machine:  10.16.139.107                                                */
/*       Source:  Local Cache                                                  */
/*     Location:  rsrc:4:1jxsp4yb                                              */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/512bacugmyw4wco4.pkg.css                                 */

#sidebar_ads{float:left;font-size:11px;padding:47px 0 0 17px;text-align:left}
#facebook .sidebar_ads_test{padding:36px 0 0 17px}
.profile .profile_sidebar_ads #sidebar_ads{float:none;padding-top:14px}
#sidebar_ads .adcolumn_wrapper{border-left:1px solid #ccc;margin-bottom:20px}
.ie6 #sidebar_ads .adcolumn_wrapper{zoom:1}
#sidebar_ads .admin_upsell{padding:5px 0 5px 0;width:147px}
#sidebar_ads .create_button{border:1px solid #3b6e22;margin:0 0 5px;float:left}
.create_button_link{background:#67A54B none repeat scroll 0 0;border-top:1px solid #95bf82;color:#fff;display:block;font-size:11px;font-weight:bold;padding:3px 16px 5px;text-align:center}
#sidebar_ads .adcolumn{border-left:4px solid #e5e5e5;padding:0}
#sidebar_ads .adcolumn .adcolumn_header{padding:0 0 5px 10px}
#sidebar_ads .admarket_ad{border-left:none;border-right:none;border-bottom:none;border-top:1px solid #e5e5e5;margin:0 0;padding:0 0 10px 10px}
#sidebar_ads .admarket_ad .social_ad_advert{padding:10px 5px 3px 0}
#sidebar_ads .banner_ad{border-top:1px solid #e5e5e5;padding:10px 0 5px 10px}
#sidebar_ads .banner_ad .advert{margin-left:0}
#sidebar_ads .below_social_ad .ads_feedback{float:left;padding:0 1px 0 0}
#sidebar_ads .adcolumn .more_ads{border-top:1px solid #e5e5e5;display:block;margin:0;padding:5px 0 0 10px}
#sidebar_ads .UIEMUASFrame,
#sidebar_ads .UIEmuASIFrame{border-top:1px solid #e5e5e5}
.share_and_hide{font-size:9px}
.s_and_h_big{font-size:11px}
.share_and_hide .share_a{float:left;padding:0 14px 1px 4px;background:white url(/rsrc.php/z9KI5/hash/94qxapy3.png) no-repeat right -355px;border:solid 1px #7f93bc}
.s_and_h_big .share_a{background:white url(/rsrc.php/z9KI5/hash/94qxapy3.png) no-repeat right -274px;padding:1px 18px 2px 4px}
.share_and_hide .save{background:#eceff5;border-left:none}
.share_and_hide .share_a:hover{color:#fff;border-color:#3b5998;text-decoration:none;background-position:right -315px;background-color:#3b5998}
.s_and_h_big .share_a:hover{background-position:right -236px;background-color:#3b5998}
.share_and_hide .x_to_hide{border:none;width:3px;padding:1px 5px 2px;margin-left:3px;background:transparent url(/rsrc.php/z9KI5/hash/94qxapy3.png) no-repeat -844px -65px}
.s_and_h_big .x_to_hide{padding:2px 5px 3px}
.share_and_hide .x_to_hide:hover{background:#3B5998 url(/rsrc.php/z9KI5/hash/94qxapy3.png) no-repeat -871px -65px}
.text_exposed_root{display:inline}
.text_exposed .text_exposed_show{display:inline}
.text_exposed_show,
.text_exposed .text_exposed_hide{display:none}
.text_exposed_link{background:url(/rsrc.php/zACDD/hash/1n3y8ict.gif) no-repeat right 1px;font-size:9px;font-weight:bold;padding:0 12px 0 0;white-space:nowrap}
.pop_squarecontainer{position:relative;overflow:hidden;zoom:1;padding:10px}
.pop_squareborder{margin:-10px 0 0 -10px;position:absolute;width:1000px;height:1000px}
.popcontent_advanced{border:solid 10px rgba(82,82,82,0.7);-moz-border-radius:8px;-webkit-border-radius:8px}
.pop_borderopacity{background:#525252;filter:alpha(opacity=70);opacity:.7}
.popcontent_old{position:relative}
.ie6 .popcontent_old,
.ie7 .popcontent_old{margin-left:-10px;padding-left:10px}
.pop_container{direction:ltr;position:relative;margin:10px 10px 0}
.pop_topleft, .pop_topright, .pop_bottomleft, .pop_bottomright{height:10px;width:10px;overflow:hidden;position:absolute}
/* @noflip */
.pop_topleft{background:url(/rsrc.php/zCVQ9/hash/d2fi9bch.png) no-repeat 0 0;left:-10px;top:-10px}
/* @noflip */
.pop_topright{background:url(/rsrc.php/zCVQ9/hash/d2fi9bch.png) no-repeat 0 -10px;right:-10px;top:-10px}
/* @noflip */
.pop_bottomleft{background:url(/rsrc.php/zCVQ9/hash/d2fi9bch.png) no-repeat 0 -20px;bottom:-10px;left:-10px}
/* @noflip */
.pop_bottomright{background:url(/rsrc.php/zCVQ9/hash/d2fi9bch.png) no-repeat 0 -30px;right:-10px;bottom:-10px}
.pop_verticalslab, .pop_horizontalslab{width:100%;height:100%;position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}
.pop_verticalslab{margin:-10px 0 0;padding-bottom:20px}
.pop_horizontalslab{margin:0 0 0 -10px;padding-right:20px}
.ie7 .pop_verticalslab{margin-left:10px}
.ie7 .pop_horizontalslab{margin-left:0}
.generic_dialog{height:0;/* @noflip */
left:0;overflow:visible;position:absolute;top:0;width:100%;z-index:101}
#generic_dialog_iframe{filter:alpha(opacity=0);left:0;position:absolute;top:0;z-index:3}
.generic_dialog_popup{height:0;overflow:visible;position:relative;width:465px;margin:auto}
.generic_dialog div.dialog_loading{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:10px}
#generic_dialog_overlay{z-index:100;position:fixed;top:0;height:100%;width:100%;filter:alpha(opacity=50);opacity:.5}
.ie6 #generic_dialog_overlay{position:absolute}
.dark_dialog_overlay{background-color:#747474}
.light_dialog_overlay{background-color:#fff}
.pop_content{direction:ltr}
.pop_dialog_rtl .pop_content{/* @noflip */
direction:rtl}
.pop_content h2.dialog_title{background:#6d84b4;border:1px solid #3b5998;border-bottom:none;color:#fff;font-size:14px;font-weight:bold;margin:0}
.pop_content h2.loading{background:#6d84b4 url(/rsrc.php/z57QP/hash/6nr0un50.gif) 98% no-repeat}
.pop_content h2.dialog_loading{background:#6d84b4 url(/rsrc.php/zDXPZ/hash/bhgpw41h.gif) no-repeat 400px 10px;padding-right:40px}
.pop_content h2 span{display:block;padding:4px 10px 5px 10px}
.pop_content .dialog_content{background:#fff;border:1px solid #555;border-top-width:0}
.pop_content .dialog_body{padding:10px;border-bottom:1px solid #ccc}
.dialog_body .dialog_content_img{float:left;margin-right:15px}
.dialog_body .dialog_content_txt{width:300px;float:left;padding-bottom:5px}
.dialog_body .dialog_content_body{padding-bottom:13px}
.dialog_body .form_label{padding-right:5px}
.pop_content .dialog_summary{background:#f2f2f2;padding:8px 10px 8px 10px;border-bottom:1px solid #ccc}
.pop_content .dialog_buttons{background:#f2f2f2;padding:8px;text-align:right}
.pop_content .dialog_buttons input{margin-left:5px}
.pop_content .dialog_buttons_msg{float:left;padding:5px 0 0 0}
.pop_content .dialog_footer{background:#F2F2F2 none repeat scroll 0}
.full_bleed .pop_content .dialog_body{padding:0}
.contextual_dialog .generic_dialog_popup{width:360px;position:absolute}
.contextual_dialog .contextual_arrow,
.contextual_dialog .contextual_arrow_rev{background-image:url(/rsrc.php/z13FP/hash/2vwbovh3.gif);background-repeat:no-repeat;height:12px;position:relative;top:1px}
.contextual_dialog .contextual_arrow_rev{background-image:url(/rsrc.php/zD5IY/hash/4zjdkq0q.gif)}
.contextual_dialog .contextual_arrow span,
.contextual_dialog .contextual_arrow_rev span{display:none}
.contextual_dialog .dialog_title{color:#000;font-size:11px;padding-bottom:2px}
.contextual_dialog .contextual_dialog_content{background-color:#f7f7f7;border:1px solid #b7b7b7;border-bottom:2px solid #3b5998;line-height:15px;padding:8px 10px 10px 10px}
.contextual_dialog .dialog_buttons{padding-top:10px}
.contextual_dialog .dialog_buttons input{margin-right:10px}
.contextual_dialog .dialog_buttons_msg{float:right}
.errorDialog .pop_content h2{background:#ffebe8;border:none;border-bottom:1px solid #aaa;color:#333}
.errorDialog .pop_content .dialog_content{border:none}
.errorDialog .pop_content .dialog_content .dialog_body{padding:15px}
.camera .pop_content .dialog_body{padding:0 0 0 0;margin-bottom:0}
.camera .pop_content .dialog_buttons{margin-top:-2px;border-top:1px solid #555}
.UIActionLinks_title{font-size:9px;font-weight:normal;white-space:nowrap;color:#999}
.has_body .UIActionLinks_title{display:none}
.log_mode .has_body .UIActionLinks_title{display:inline}
.UIActionLinks_bottom,
.UIActionLinks_left,
.UIActionLinks_right{color:#999}
.UIActionLinks_left{float:left}
.UIActionLinks_right{float:right}
.from_friend_story_content_container .UIActionLinks_bottom,
.has_body .UIActionLinks_bottom,
.story_body .UIActionLinks_bottom{clear:both;display:block}
.log_mode .UIActionLinks_bottom{display:none}
.tab_status_updates .UIActionLinks_title{font-size:11px}
.commentable_item .comment_box{clear:both;font-size:11px;overflow:hidden;padding:2px 0 0 0}
.commentable_item .comment_box_nub{background:url(/rsrc.php/z9KI5/hash/94qxapy3.png) no-repeat -930px -69px;clear:left;height:5px;margin:0 0 0 17px;overflow:hidden;width:9px}
.collapsed_comments .comment_box{display:none}
.action_links_title .comment_link,
.action_links_bottom .comment_link,
.UIActionLinks .comment_link{color:#3b5998;font-weight:normal;vertical-align:text-bottom}
.action_links_title .comment_link:hover,
.action_links_bottom .comment_link:hover,
.UIActionLinks .comment_link:hover{text-decoration:underline}
.tab_status_updates .feed_item .comment_box{margin-left:46px}
.story_ff .comment_box{margin-left:57px}
.story_ff .size_1 .comment_box{margin-left:0}
.commentable_item .comment_box .feed_comment_pic{border:0;left:0;top:0}
.no_comments .comment_box .comments_list_wrapper{display:none}
.commentable_item .comment_box .ufi_section .comment_profile_pic{text-align:left;padding-right:2px;padding-bottom:4px;float:left;height:35px;width:35px}
.commentable_item .comment_box .comment_content .x_to_hide{background:transparent url(/rsrc.php/z9KI5/hash/94qxapy3.png) no-repeat -844px -64px;border:medium none;margin-left:3px;margin-top:-1px;float:right;overflow:hidden;padding:1px 5px 0;width:3px}
.commentable_item .comment_box .comment_content .x_to_hide:hover{background-position:-856px -64px;background-color:#3b5998}
.commentable_item .ufi_section{background:#eceff5;border-bottom:1px solid #e5eaf1;clear:left;float:none;overflow:hidden;margin-bottom:2px;padding:6px 4px 0 6px;width:350px}
.commentable_item form .comment_add_row{margin-bottom:0}
.commentable_item .comment_box .comment_add_row{float:left}
.commentable_item .show_all_link{padding-bottom:6px}
.commentable_item .comment_box .comments_cutoff_notice{text-align:center;display:none}
.commentable_item .comment_box .comments_cutoff .comments_cutoff_notice{display:block}
.commentable_item .view_all_link{padding-bottom:3px}
.commentable_item .view_all_link_text{padding-top:1px;position:absolute}
.commentable_item .comment_box .comment_content{float:left;width:311px}
.story .comment_box .comment_text{max-width:280px;width:expression(this.width > 280 ? 280:true)}
.feed_item .comment_box .comment_text{max-width:382px;width:expression(this.width > 382 ? 382:true)}
.commentable_item .comment_box .comments_add_box{border:0;padding:0;margin-bottom:0}
.commentable_item .comment_box .comments_add_box .add_comment_box_wrapper{position:relative;margin-left:0;margin-bottom:4px}
.hidden_add_button .comment_box .comments_add_box .inline_comment_buttons{display:none}
.commentable_item .comment_box .comments_add_box .inline_comment_buttons{padding:0 0 6px 42px}
.commentable_item .comment_box .comments_add_box .comments_add_box_submit{float:right;width:auto}
.commentable_item .comment_box .comments_add_box .comments_add_box_controls{float:none;width:205px}
.commentable_item .comment_box .comments_add_box .inline_comment_buttons .UIButton{margin:0 5px 0 0}
.commentable_item .comment_box .comment_content .comment_actions{margin-left:4px;font-size:11px;color:#777;padding-top:2px;padding-bottom:2px}
.commentable_item .comment_box .comment_content .comment_author{font-weight:bold}
.commentable_item .comment_box .comment_content a.comment_author{color:#3b5998}
.commentable_item .comment_box .comment_content .comment_actual_text{display:inline;padding-left:.4em}
.commentable_item .comment_box .comment_content .comment_meta_data{font-size:9px;font-weight:normal}
.commentable_item .comment_box .comment_content .comment_credits{margin-left:4px}
.commentable_item .comment_text{padding:0 4px}
.commentable_item .ufi_section .report_link{float:right;margin-right:3px}
.commentable_item .comment_box .comments_add_box .comments_add_box_image{float:left;padding-right:7px}
.hidden_add_button .comment_box .comments_add_box .one_row_add_box .comments_add_box_image{display:none}
.commentable_item .comment_box .comments_add_box textarea{min-height:29px;height:29px;margin:0;overflow:auto;resize:none;width:298px}
.hidden_add_button .comment_box .comments_add_box .one_row_add_box textarea{min-height:14px;height:14px;width:340px}
.comment_box .comment_error_target{display:none}
.comment_box .has_error .comment_error_target{display:block}
.autoexpand_mode .feedback_toggle_link{display:none}
.feedback_toggle_link .feedback_show_link,
.collapsed_comments .feedback_hide_link{display:none}
.collapsed_comments .feedback_show_link{display:inline}
.commentable_item .comment_highlighted{background:#ccdff5}
.like_box{overflow:hidden}
.like_box .pictures_container{padding-top:5px}
.commentable_item .like_box .ufi_section{padding-bottom:0}
.no_likes{display:none}
.like_box .like_sentence_container{padding:0 0 5px 0;position:relative;overflow:hidden}
.like_sentence{padding-top:1px}
.like_exists .like_sentence_not_exists,
.like_not_exists .like_sentence_exists{position:absolute;top:0;left:0}
.like_box .like_users{margin-left:6px;width:320px}
.like_exists .like_component_not_exists{display:none}
.like_not_exists .like_component_exists{display:none}
.hidden_separator{display:none}
.pictures_container{padding:10px 5px 0 5px;margin-bottom:5px}
.profile_picture .pictures_container{margin-bottom:0;padding-top:5px}
.pictures_container .pic_container{display:block;margin:2px 3px 2px 2px;width:50px;height:50px}
.pictures_container .name_container{float:left;text-align:center;margin-bottom:3px}
.pictures_container a.see_all{border-bottom:1px solid #d8dfea;clear:both;display:block;float:left;line-height:2em;text-align:left;width:100%}
.pictures_container .name span.name_link,
.pictures_container .name a{display:block;clear:both;font-size:9px;color:#777}
.profile_picture_condensed .pic_container{margin-right:1px}
.spritemap_icons{background-image:url(/rsrc.php/zD3LH/hash/81xy5xz9.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.ie6 .spritemap_icons{background-image:url(/rsrc.php/zDB56/hash/dmk3peck.gif);background-repeat:no-repeat;height:16px;width:16px}
.sx_icons__hidden{}
.sx_icons_accessibility{background-position:0 -16px}
.sx_icons_ad{height:15px !important;background-position:0 -32px}
.sx_icons_add_iphone{background-position:0 -47px}
.sx_icons_add_photo{background-position:0 -63px}
.sx_icons_ads_and_pages{background-position:0 -79px}
.sx_icons_affiliation{height:14px !important;background-position:0 -95px}
.sx_icons_alert{background-position:0 -109px}
.sx_icons_analytics{background-position:0 -125px}
.sx_icons_answers{width:15px !important;background-position:0 -141px}
.sx_icons_audioplayer{height:15px !important;background-position:0 -157px}
.sx_icons_beacon{background-position:0 -172px}
.sx_icons_block{background-position:0 -188px}
.sx_icons_blog{height:15px !important;background-position:0 -204px}
.sx_icons_bookmark{background-position:0 -219px}
.sx_icons_buddy_list{width:15px !important;height:11px !important;background-position:0 -235px}
.sx_icons_calendar{background-position:0 -246px}
.sx_icons_camera{background-position:0 -262px}
.sx_icons_canada_flag{background-position:0 -278px}
.sx_icons_check_mark{width:13px !important;height:13px !important;background-position:0 -294px}
.sx_icons_comment{height:15px !important;background-position:0 -307px}
.sx_icons_comments{background-position:0 -322px}
.sx_icons_connect{background-position:0 -338px}
.sx_icons_connect_new{background-position:0 -354px}
.sx_icons_credits_plus{background-position:0 -370px}
.sx_icons_dev_app{width:18px !important;height:18px !important;background-position:0 -386px}
.sx_icons_developer{background-position:0 -404px}
.sx_icons_discussion{height:18px !important;background-position:0 -420px}
.sx_icons_down_arrow_blue{width:9px !important;height:5px !important;background-position:0 -438px}
.sx_icons_edit_applications{background-position:0 -443px}
.sx_icons_edit_profile{background-position:0 -459px}
.sx_icons_election{height:13px !important;background-position:0 -475px}
.sx_icons_email{background-position:0 -488px}
.sx_icons_email_application{width:18px !important;background-position:0 -504px}
.sx_icons_email_web{width:17px !important;height:17px !important;background-position:0 -520px}
.sx_icons_event{height:17px !important;background-position:0 -537px}
.sx_icons_external_link{width:12px !important;height:12px !important;background-position:0 -554px}
.sx_icons_family{background-position:0 -566px}
.sx_icons_favicon{background-position:0 -582px}
.sx_icons_fbfile{width:14px !important;background-position:0 -598px}
.sx_icons_fbml{background-position:0 -614px}
.sx_icons_fbpage{background-position:0 -630px}
.sx_icons_fbpage_add{background-position:0 -646px}
.sx_icons_feed{width:15px !important;height:15px !important;background-position:0 -662px}
.sx_icons_feed_comments{background-position:0 -677px}
.sx_icons_flash{background-position:0 -693px}
.sx_icons_friend{background-position:0 -709px}
.sx_icons_friend_finder{background-position:0 -725px}
.sx_icons_friend_gal{background-position:0 -741px}
.sx_icons_friend_gal_pink{background-position:0 -757px}
.sx_icons_friend_guy{height:17px !important;background-position:0 -773px}
.sx_icons_friend_mob{height:17px !important;background-position:0 -790px}
.sx_icons_friend_suggestion{background-position:0 -807px}
.sx_icons_gift{height:15px !important;background-position:0 -823px}
.sx_icons_great{width:12px !important;height:12px !important;background-position:0 -838px}
.sx_icons_group{height:14px !important;background-position:0 -850px}
.sx_icons_halt{width:12px !important;height:12px !important;background-position:0 -864px}
.sx_icons_hd{width:18px !important;height:12px !important;background-position:0 -876px}
.sx_icons_hidden{background-position:0 -888px}
.sx_icons_hourglass{background-position:0 -904px}
.sx_icons_im{width:17px !important;height:15px !important;background-position:0 -920px}
.sx_icons_im_away{height:10px !important;background-position:0 -935px}
.sx_icons_im_offline{height:10px !important;background-position:0 -945px}
.sx_icons_im_online{height:10px !important;background-position:0 -955px}
.sx_icons_install_app{width:17px !important;height:14px !important;background-position:0 -965px}
.sx_icons_invite{background-position:0 -979px}
.sx_icons_iphone{background-position:0 -995px}
.sx_icons_iphone_photo{height:19px !important;background-position:0 -1011px}
.sx_icons_lexicon{background-position:0 -1030px}
.sx_icons_like{background-position:0 -1046px}
.sx_icons_like_off{width:15px !important;height:13px !important;background-position:0 -1062px}
.sx_icons_like_on{width:15px !important;height:13px !important;background-position:0 -1075px}
.sx_icons_link{height:15px !important;background-position:0 -1088px}
.sx_icons_location_target{width:15px !important;height:15px !important;background-position:0 -1103px}
.sx_icons_magnifying_glass{background-position:0 -1118px}
.sx_icons_marketplace{background-position:0 -1134px}
.sx_icons_message{height:12px !important;background-position:0 -1150px}
.sx_icons_mini_comment{width:11px !important;height:13px !important;background-position:0 -1162px}
.sx_icons_mini_credit{width:10px !important;height:10px !important;background-position:0 -1175px}
.sx_icons_mini_thumb{width:13px !important;height:13px !important;background-position:0 -1185px}
.sx_icons_mob_album{width:15px !important;height:11px !important;background-position:0 -1198px}
.sx_icons_mobile{height:18px !important;background-position:0 -1209px}
.sx_icons_mobile_app{background-position:0 -1227px}
.sx_icons_mobile_note{width:14px !important;background-position:0 -1243px}
.sx_icons_mobile_photo{height:19px !important;background-position:0 -1259px}
.sx_icons_motion{background-position:0 -1278px}
.sx_icons_music{height:15px !important;background-position:0 -1294px}
.sx_icons_new_feature{background-position:0 -1309px}
.sx_icons_news{background-position:0 -1325px}
.sx_icons_note{width:13px !important;background-position:0 -1341px}
.sx_icons_notifications{background-position:0 -1357px}
.sx_icons_pagefooter_bullet{width:4px !important;height:4px !important;background-position:0 -1373px}
.sx_icons_people_directory{width:13px !important;height:15px !important;background-position:0 -1377px}
.sx_icons_photo{background-position:0 -1392px}
.sx_icons_photos_notes{height:17px !important;background-position:0 -1408px}
.sx_icons_poke{height:14px !important;background-position:0 -1425px}
.sx_icons_polls{background-position:0 -1439px}
.sx_icons_popout_window{width:17px !important;height:17px !important;background-position:0 -1455px}
.sx_icons_post{height:15px !important;background-position:0 -1472px}
.sx_icons_privacy{background-position:0 -1487px}
.sx_icons_privacy_lock{background-position:0 -1503px}
.sx_icons_relationship{background-position:0 -1519px}
.sx_icons_relationship_remove{height:17px !important;background-position:0 -1535px}
.sx_icons_request_button_icon{width:15px !important;height:10px !important;background-position:0 -1552px}
.sx_icons_requests{background-position:0 -1562px}
.sx_icons_reviews{background-position:0 -1578px}
.sx_icons_sampling{background-position:0 -1594px}
.sx_icons_security{background-position:0 -1610px}
.sx_icons_see_more{width:5px !important;height:9px !important;background-position:0 -1626px}
.sx_icons_see_more_down{width:9px !important;height:5px !important;background-position:0 -1635px}
.sx_icons_settings{background-position:0 -1640px}
.sx_icons_share{width:14px !important;height:14px !important;background-position:0 -1656px}
.sx_icons_share_button_large{background-position:0 -1670px}
.sx_icons_share_button_small{width:12px !important;height:12px !important;background-position:0 -1686px}
.sx_icons_share_plus{width:14px !important;height:14px !important;background-position:0 -1698px}
.sx_icons_short_note{background-position:0 -1712px}
.sx_icons_social_ad{background-position:0 -1728px}
.sx_icons_star_half{width:12px !important;height:12px !important;background-position:0 -1744px}
.sx_icons_star_off{width:12px !important;height:12px !important;background-position:0 -1756px}
.sx_icons_star_on{width:12px !important;height:12px !important;background-position:0 -1768px}
.sx_icons_term{background-position:0 -1780px}
.sx_icons_translations{background-position:0 -1796px}
.sx_icons_updates{background-position:0 -1812px}
.sx_icons_verified{width:12px !important;height:12px !important;background-position:0 -1828px}
.sx_icons_video{height:17px !important;background-position:0 -1840px}
.sx_icons_wall_arrow_down{width:11px !important;height:9px !important;background-position:0 -1857px}
.sx_icons_wall_arrow_ltr{width:11px !important;height:9px !important;background-position:0 -1866px}
.sx_icons_wall_arrow_rtl{width:11px !important;height:9px !important;background-position:0 -1875px}
.sx_icons_wall_post{background-position:0 -1884px}
.UIButton{background-image:url(/rsrc.php/zD0UO/hash/4hvlr9i2.gif);border-style:solid;border-width:1px;display:-moz-inline-box;display:inline-block;outline:none;padding:3px 6px 4px;vertical-align:bottom}
.UIButton:hover,
.UIButton:active{text-decoration:none}
.UIButton_Text{background-color:transparent;border:none;cursor:pointer;display:block;font-size:11px;font-weight:bold;line-height:14px;margin:0;overflow:visible;padding:0;width:auto}
.UIButton_Large{padding:4px 8px 6px}
.UIButton_Large .UIButton_Text{font-size:13px;line-height:16px}
.UIButton_Gray{background-color:#eaeae9;border-color:#888}
.UIButton_Gray:active{background-color:#ddd;background-image:none}
.UIButton_Gray .UIButton_Text{color:#333;text-shadow:none}
.UIButton_Blue{background-color:#5b74a8;background-position:0 -48px;border-color:#26446E #152F5F #0c2253}
.UIButton_Blue:active{background-color:#516899;background-image:none}
.UIButton_Blue .UIButton_Text{color:#fff;text-shadow:0 1px 0 #3e5a88}
.UIButton_Green{background-color:#69a74e;background-position:0 -96px;border-color:#386F24 #236013 #16540a}
.UIButton_Green:active{background-color:#609946;background-image:none}
.UIButton_Green .UIButton_Text{color:#fff;text-shadow:0 1px 0 #4d8835}
.UIButton_Suppressed{background:transparent;border-color:transparent}
.ie6 .UIButton_Suppressed,
.UIButton_Suppressed:hover{background-image:url(/rsrc.php/zD0UO/hash/4hvlr9i2.gif);border-color:#888}
.UIButton_Suppressed:active{background-color:#ddd;background-image:none}
.UIButton_Disabled,
.UIButton_Disabled:active{background-color:#f2f2f2;background-image:none;border-color:#b8b8b8}
.UIButton_Disabled .UIButton_Text,
.UIButton_Disabled:active .UIButton_Text{color:#b8b8b8;text-shadow:none}
.UIButton_Depressed{background-color:#7d7d7d;background-image:none;border-color:#525252}
.UIButton_Depressed .UIButton_Text{color:#fff}
.UIActionButton{margin:5px}
.UIActionButton_SuppressMargin{margin:0}
span.UIButton_Icon,
img.UIButton_Icon{display:block;height:16px !important;margin:-2px 5px 0 0;/* @noflip */
float:left;width:16px !important}
span.UIButton_IconNoSpriteMap{background-image:url(/rsrc.php/zD0UO/hash/4hvlr9i2.gif)}
a.UIActionButton_SuppressText{padding:3px 0 4px 4px}
.UIActionButton_SuppressText .UIButton_Icon{margin:0}
.UIActionButton .UITooltip_Wrap{bottom:25px;margin-left:0}
span.UIFormButton{padding:0}
span.UIFormButton .UIButton_Text{padding:3px 6px 4px}
.ff3 span.UIFormButton .UIButton_Text{padding:2px 4px 3px}
.ff3 span.UIFormButton_Large .UIButton_Text{padding:2px 5px 3px}
.ie7 span.UIFormButton .UIButton_Text{padding:2px 7px 2px}
.ie7 span.UIFormButton_Large{padding:0}
.ie7 span.UIFormButton_Large .UIButton_Text{padding-top:1px}
.ie6 span.UIFormButton .UIButton_Text{padding:2px 0 2px}
.ie6 span.UIFormButton_Large .UIButton_Text{padding:1px 0 2px}
.UIProfileImage_LARGE{width:50px;height:50px}
.UIProfileImage_SMALL{width:32px;height:32px}
.UIProfileImage_TINY{width:25px;height:25px}

#bootloader_css_512bacugmyw4wco4_pkg_css { height: 42px; }