li.page_item {
display: block;
list-style: none;
float: left;
margin: 0 10px 0 10px;
height: 31px;
padding: 8px 20px 0 0;
background: url(images/pagebg.png) top right no-repeat;
}

li.page_item:hover {
background-position: bottom right;
}

#nav {
bottom: 0;
right: 0;
z-index: 999;
list-style: none;
float: left;
margin: 11px 0 0 23px;
padding: 0;
}

#nav li {
float: left;
}

#nav li a {
float: left;
display: block;
height: 22px;
color: #FFFFFF;
text-decoration: none;
}

#nav li.current a {
color: #FFFFFF;
}

#nav li ul {
clear: left;
position: absolute;
left: -999em;
z-index: 999;
width: 161px;
margin-top: 30px;
margin-left: -21px;
_margin-top: 0; /* IE6 only */
border: 1px solid #525252;
border-top: 1px solid #525252;
border-bottom: 0;
list-style: none;
line-height: 1;
padding-left: 0px;
}
/* http://thatnorwegianguy.wordpress.com/2007/03/20/ie7-css-filter-hack/ */
* + html #nav li ul {
margin-top: 0;
}

#nav li li {
display: inline;
_display: block;
float: none;
_float: left;
margin: 0;
font-size: 11px;
text-transform: uppercase;
}

#nav li ul ul {
margin: -31px 0 0 161px;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
left: auto;
}

#nav li li li {
font-size: 11px;
}

#nav li:hover li a, #nav li.sfhover li a {
float: none;
width: 133px;
height: auto;
padding: 9px 14px;
border-bottom: 1px solid #525252;
color: #47443A;
background: #FFFFFF;
}

#nav li:hover li a:hover, #nav li.sfhover li a:hover {
background: #F0F0F0;
}