/** begin post days **/
.day-01 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-01.png) top left no-repeat;
}

.day-02 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-02.png) top left no-repeat;
}

.day-03 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-03.png) top left no-repeat;
}

.day-04 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-04.png) top left no-repeat;
}

.day-05 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-05.png) top left no-repeat;
}

.day-06 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-06.png) top left no-repeat;
}

.day-07 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-07.png) top left no-repeat;
}

.day-08 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-08.png) top left no-repeat;
}

.day-09 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-09.png) top left no-repeat;
}

.day-10 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-10.png) top left no-repeat;
}

.day-11 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-11.png) top left no-repeat;
}

.day-12 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-12.png) top left no-repeat;
}

.day-13 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-13.png) top left no-repeat;
}

.day-14 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-14.png) top left no-repeat;
}

.day-15 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-15.png) top left no-repeat;
}

.day-16 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-16.png) top left no-repeat;
}

.day-17 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-17.png) top left no-repeat;
}

.day-18 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-18.png) top left no-repeat;
}

.day-19 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-19.png) top left no-repeat;
}

.day-20 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-20.png) top left no-repeat;
}

.day-21 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-21.png) top left no-repeat;
}

.day-22 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-22.png) top left no-repeat;
}

.day-23 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-23.png) top left no-repeat;
}

.day-24 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-24.png) top left no-repeat;
}

.day-25 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-25.png) top left no-repeat;
}

.day-26 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-26.png) top left no-repeat;
}

.day-27 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-27.png) top left no-repeat;
}

.day-28 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-28.png) top left no-repeat;
}

.day-29 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-29.png) top left no-repeat;
}

.day-30 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-30.png) top left no-repeat;
}

.day-31 {
width: 55px;
height: 102px;
float: left;
background: url(images/days/day-31.png) top left no-repeat;
}
/** end post days **/