
.fbc_connect_button_area {
margin:5px;
}

.fbc_profile_pic {
  float: right;
  padding: 0 5px 5px 5px;
}


.fbc_profile_header {
  text-align: right;
  padding: 5px;
  padding-top: 10px;
  border: gray dotted 1px;
  background: white;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

