	<h2><font face="Tahoma" style="font-size: 32px">About</font>		</h2>
  <p>

FBALLNEWS has been created for football fans that like to read great football articles, news, rumors, and analysis, but don't have all day to search for them.  FBALLNEWS constantly reads through thousands of articles from sources all over web and gives you the very best so that you can get the best read possible.
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>




