*{
    margin:0;
    border:0;
}

#platform{
  line-height:0;
  margin:6px 0 0 4px;
  width:100%;
  height:30px;
  *height:24px;
}
#platform img{
   margin-right:14px;
   margin-bottom:10px;
   cursor:pointer;
   float:left;
}
