<br>
<h1><font face="Arial" color=#000000 style="font-size: 35px">About Us</font></h1>
  <p class="about" style="font-size:16px">

It's become too difficult for readers to consistently find the best content or follow all their sites of interest on the web.  RSS helps, but doesn't filter by quality, shows too many articles, and doesn't inform you when new sources appear.

  <p class="about" style="font-size:16px">
We designed computer algorithms to find the most interesting football news at the moment across the breadth of internet sources.  As we improve how we identify the best articles, we hope <a href="/">FBALLNEWS.com</a> will become your first stop in browsing sports news.


  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  
  <br><br>  





