#body-rightcol div.activity ul p { color: #666; font-size: 12px; margin: 0 }
#body-rightcol div.activity ul blockquote { border: 0; margin: 0 15px 5px }
#body-rightcol div.activity ul blockquote p { font-size: 14px }
#body-rightcol div.activity ul li { margin: 0 }
#body-rightcol div.activity ul h4 { font-size: 14px; margin-bottom: 3px }
#body-rightcol div.activity ul h4 a { color: #333; font-weight: 100; text-decoration: none }
#body-rightcol div.activity ul span { color: #999; font-size: 12px; font-weight: 800 }