@import url(http://www.washingtonpost.com/wp-srv/css/article.css);

#media h2 { /* blurb */
  padding:0;
  padding-bottom:10px;
  margin:0;
  font-size:13px;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#333333;
}
#media .date {
	font-size:13px;
	font-style:italic;
}
#media .byline {
	padding-bottom:10px;
	font-size:11px;
	color:#666666;
	font-style:normal;
}
#media_extra {
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
}
#media_extra h1 {
	padding:0;
	margin:0;
	font-size:11px;
}
#media_extra h6 {
	padding:0;
	margin:0;
	font-size:11px;
	color:#666666;
	text-transform:uppercase;
}
