.teased {
}
.teased .item {
}
.teased .hack {
	border-bottom:1px solid #CCCCCC ;
	margin-bottom:10px ;
	width:100% ;
}
.teased h1,h2,h3,h4,h5,h6,h7 {
	padding:0 ;
	margin:0 ;
}
.teased h5 { /* label */
	padding-bottom:5px ;
	font-size:1em;
	color:#6181A8;
}
.teased h3 { /* kicker */
	font-size:1em;
	color:#CC0000;
}
.teased h1, .teased .teased-headline { /* headline */
	font-weight:bold;
	font-size:1.7em;
}
.teased h2 { /* blurb */
	font-family:times,serif;
	font-size:1.4em;
	font-weight:normal;
	color:#333333;
}
.teased h5.headline { /* headline */
	padding:0;
	margin:0;
	font-weight:bold;
	font-size:1.7em;
}
.teased h6.blurb { /* blurb */
	padding:0;
	margin:0;
	font-family:times,serif;
	font-size:1.4em;
	font-weight:normal;
	color:#333333;
}
.teased h4 { /* bullets */
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:0.9em;
	color:#333333;
}
.teased h6 { /* subheadline */
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:10px;
	color:#587397;
		padding-bottom:12px;
}
.teased h7 { /* blurb for cars */
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:11px;
		font-weight:normal;
}
.topstrip {
	font-family: arial, verdana, helvetica;
}
.topstrip .headline {
	font-size:15px;
	font-weight:bold;
	color: #000000;
	margin-bottom:0px;
	text-align:left;
}
.topstrip .media-headline {
	font-size:11px;
	font-weight:bold;
	color: #000000;
	margin-bottom:0px;
	text-align:left;
}
.topstrip .kicker {
	font-size:11px;
    color: #cc0000;
	font-weight:bold;	
}
.topstrip .kicker1 {
	font-size:11px;
	font-weight:bold;	
}
.topstrip .byline {
	font-style:italic;	
	font-size:13px;
}
.topstrip .body { 
  font-family: "Times New Roman",times,serif;
  font-size:1.5em;
}
.topstrip .articleHl {
	text-align:left;
	font-size:14px;
	font-weight:bold;
}
.topstrip .image {
}
.topstrip .caption {
	padding-top:3px;
	font-size:11px;
	color:#000;
	font-family:arial;
} 
.topstrip .caption-top {
	font-size:11px;
	color:#000;
	font-family:arial;
} 
.topstrip .caption-btm {
	padding-top:3px;
	font-size:11px;
	color:#666;
	font-family:arial;
} 
.media_photo .caption {
	padding-top:3px;
	font-size:11px;
	color:#666666;
	font-family:arial;
	/*	font-size:12px;
	color:#333333;
	padding-bottom:10px;*/
}
.topstrip .caption .credit, .topstrip .caption-top .credit, .topstrip .caption-btm .credit {
	font-size:11px;
	font-family:arial;
	color:#000000;
	text-align:right;
}
.media .caption .credit {
	color:#666666;
}
.topStrip a:link, .topStrip a:visited, .topStrip a:active, .topStrip a:hover {
	color: #0C4790;
} 
.topstrip .bullets {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#333333;
}
.morenews {
}
.morenews .label {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#cc0000;
}
