body,a
{
font-family: verdana;
font-size: 11px;
color: #000;
}
body
{
	background: #fff;
}
textarea
{
	display: block;
	width: 400px;
	height: 80px;
	padding: 4px;
	font-size: 11px;
	background: #444;
	color: #ccc;
}